.HomeBlogContaninr{
    height: inherit;
    background: #e7e5e5;
}
.HeadHomeBlog{
    margin: 0;
    font-size: 5.6rem;
}
.HomeBlogHead{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 80px 0 40px 0;
}
.HomeBlogCard{
    height: 90%;
    width:85%;
    display:flex;
    justify-content: space-evenly;
    flex-direction: row
}
.thumb_content{
    font-weight: 600;
    color: #000;
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
.ChildThmub{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.CardStyle{
    width:20%;
    padding: 1rem;
    height:100%;
    background-color: white;
    display: flex;
    flex-direction: column
}
.blog_thumb_image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.HomeBlogCardmOBILE{
    display: none;
}
.AncherStyleHomeBlog{
    width: 98%;
    margin: 0;
    background: #000;
    height: 2.5rem;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}
@media only screen and (max-width: 600px) {
    .HomeBlogCard{
      display: none;
    }
    .HeadHomeBlog{
        font-size: 4rem;
    }
    .blog_thumb_image {
        object-fit: cover;
        height:18rem;
    }
    .CardStyle{
        width: auto;
        margin: 1rem;
    }
    .HomeBlogCardmOBILE{
        display: block;
        height: 65%;
    }
}
