.HomeBlogContaninr{
    height: 90vh;
    background: #e7e5e5;
}
.HeadHomeBlog{
    margin: 0;
    font-size: 5.6rem;
}

.HomeBlogCard{
    height: 90%;
    width:85%;
    display:flex;
    justify-content: space-evenly;
    flex-direction: row
}
.thumb_content{
    font-weight: 600;
    color: #000;
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
.blog_thumb{
    
}
.ChildThmub{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.CardStyle{
    width:20%;
    padding: 1rem;
    height:100%;
    background-color: white;
    display: flex;
    flex-direction: column
}
.blog_thumb_image {
    object-fit: cover;
    height: 100%;
    width: 100%;
}